**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
**/.git/
**/.gitignore
**/TestResults/
tests/
*.md
*.user
TEAIP_Prototype.html
AssetsManagement.postman_collection.json
.dockerignore
Dockerfile
docker-compose.yml
